<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Products</title>
	</head>
	<body>
		<div
			style="
				width: 100%;
				display: flex;
				justify-content: end;
				align-items: center;
				margin-block: 20px;
			"
		>
			<a style="margin-inline: 50px; font-size: x-large" href="/carts"
				>Cart</a
			>
			<a
				style="margin-inline: 50px; font-size: x-large"
				href="/accountinfo"
				>Profile</a
			>
		</div>
		<h1>Product Page</h1>
		<div
			style="
				width: 100%;
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
			"
		>
			{% for product in products %}
			<div
				style="
					min-width: 22%;
					max-width: 23rem;
					/* height: 500px; */
					display: flex;
					flex-direction: column;
					align-items: center;
					border: 1px solid black;
					border-radius: 10px;
					padding: 10px;
					margin: 10px;
				"
			>
				<a
					href="{% url 'product_detail' pk=product.pk %}"
					style="
						color: black;
						text-decoration: none;
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
					"
				>
					{% if product.image %}
					<img
						src="{{ product.image.url }}"
						alt="{{ product.name }}"
						style="width: 80%; height: 50%"
					/>
					{% endif %}
					<div>
						<p>{{ product.name }}</p>
						<p>By :- {{ product.by }}</p>
						<p>Composition :- {{ product.salt_composition }}</p>
						<p>{{ product.short_description }}</p>
					</div>
				</a>
				<div
					style="
						display: flex;
						justify-content: space-between;
						width: 100%;
					"
				>
					<p>Price: ₹{{ product.price }}</p>
					<button onclick="addToCart({{ product.pk }})">
						Add To Cart
					</button>
				</div>
			</div>
			{% endfor %}
		</div>
		<script>
			function addToCart(productId) {
				fetch(`/add_to_cart/${productId}/`, {
					method: "POST",
					headers: {
						"X-CSRFToken": "{{ csrf_token }}",
					},
				})
					.then((response) => {
						if (response.ok) {
							console.log("Product added to cart");
						} else {
							console.error("Failed to add product to cart");
						}
					})
					.catch((error) => {
						console.error("Error:", error);
					});
			}
		</script>
	</body>
</html>
